#box {
  position: relative;
  display: flex;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80rem;
  height: 10.6rem;
  background-color: rgb(136, 156, 168);
  align-items: center;
}

#logo {
  position: relative;
  display: flex;
  left: 5%; /* Adjust the value to move the logo more to the right */
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 20px solid rgb(136, 156, 168);
  justify-content: center;
  align-items: center;
}

#brain {
  width: 10rem;
  height: 10rem;
  max-width: 100%;
  max-height: 100%;
}

#container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 6%;
}

#title {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.description {
  display: flex;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 17px;
}

#description strong {
  font-weight: bold;
}

#desOne {
  white-space: nowrap;
  margin-bottom: 0;
}

#start {
  margin-left: 4rem;
  border-radius: 29px; /* Adjust the value to control the roundness */
  width: 174px; /* Adjust the width to fit your button content */
  height: 60px;
  border: none;
  color: rgb(206, 29, 29);
  font-size: 15px;
  cursor: pointer;
}

#start:hover {
  background-color: rgb(9, 9, 78);
  color: white;
}

body {
  position: relative;
}

.dimmed-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value to control the darkness */
  z-index: 9998; /* Ensure the overlay appears below the modal */
}

#modal {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgb(136, 156, 168);
  padding: 30px;
  padding-left: 15%;
  padding-right: 15%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  width: 50%;
  height: 270%;
}

#modalHeader {
  position: absolute;
  top: 0.2px; /* Position the element at the top of the parent */
  margin-top: 0px; /* Adjust the negative margin to move the element further upwards */
  background-color: rgb(37, 42, 89);
  padding: 10px;
  left: 0;
  border-radius: 35px 35px 0px 0px;
  right: 0;
  padding-bottom: 7.5%;
}

.close {
  position: absolute;
  top: 26px;
  left: 94%;
  right: 0px;
  background-color: rgb(217, 217, 217);
  width: 45px;
  height: 45px;
  border-radius: 100%;
  font-size: 35px;
  cursor: pointer;
}

#modalHeadText {
  position: absolute;
  top: 20px;
  left: 3%;
  right: 0px;
  white-space: nowrap;

  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

#quizImage {
  width: 140px;
  height: 140px;
  border-radius: 100%;
}

.modal-content {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 12%;
  width: 200%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, 0);
  grid-template-rows: repeat(2, 1fr) repeat(3, 0);
  width: 75.7%;
  margin-left: -13%;
  height: 375px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#logo_box {
  grid-area: 1 / 1 / 2 / 2;
}

.question {
  grid-area: 1 / 2 / 2 / 3;
}

.question p {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

#whichQuestion {
  font-size: 25px;
}

#tf {
  font-size: 25px;
}

#quest {
  font-size: 20px;
}

#trueOrFalse {
  grid-area: 1 / 3 / 2 / 4;
}

#gifContainer {
  grid-area: 2 / 2 / 3 / 3;
}

#true {
  border-radius: 29px;
  width: 174px; 
  height: 62px;
  border: none;
  color: rgb(206, 29, 29);
  font-size: 15px;
  cursor: pointer;
  margin: 1.5%;
}
#false {
  border-radius: 29px; 
  width: 174px; 
  height: 62px;
  border: none;
  color: rgb(206, 29, 29);
  font-size: 15px;
  cursor: pointer;
  margin: 1.5%;
}

#true:hover {
  background-color: rgb(9, 9, 78);
  color: white;
}
#false:hover {
  background-color: rgb(9, 9, 78);
  color: white;
}

#next {
  border-radius: 29px;
  width: 190px;
  height: 62px;
  border: none;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
  color: rgb(9, 9, 78);
  position: absolute;
  top: 20px;
  left: 70%;
  right: 0px;
}

#next:hover {
  background-color: rgb(136, 156, 168);
}
